
.centerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    background-color: #6dff008a;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #007c04;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .image {
    display: flex;
    margin: 5px auto;
  }
  